<footer class="bd-footer mb-0 mt-auto d-print-none bg-light">
    <div class="container-fluid d-flex justify-content-between text-muted">
        <a class="btn btn-light my-auto d-flex" href="{{ url('admin.login') }}">Admin <i
                class="material-icons ml-2">lock</i> </a>
        <p class="my-3">
            TechZara WCC <a href="https://www.facebook.com/hashtag/initial_commit">#initial_commit</a>
            <span class="mx-2">|</span>
            <strong>Un-ivers</strong>
        </p>
    </div>
</footer>
