<nav class="navbar sticky-top navbar-expand-md navbar-light bd-navbar d-print-none">
    <div class="container">
        <a class="navbar-brand h1 mb-0 mr-3" href="#">Kopia</a>

        <button class="navbar-toggler d-flex d-md-none" type="button" data-toggle="collapse"
            data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="material-icons">menu</i>
        </button>

        {#
        <div class="collapse navbar-collapse d-md-flex" id="navbarContent">
            <form class="btn-group ml-auto bg-white rounded" method="post">
                <button class="btn btn-light my-sm-0 d-flex rounded-0 rounded-left" type="submit"><i
                        class="material-icons">search</i></button>
                <input class="form-control bg-light border-light rounded-0 rounded-right pl-0" name="search" id="search"
                    type="search" placeholder="Hitady" aria-label="Search" style="box-shadow: none;">
            </form>
        </div>
        #}
    </div>
</nav>
